<div class="container mx-auto">
  <h1 class="text-center">Tools</h1>

  <!-- Formulário de busca -->
  <form action="/tools" method="GET" class="mb-4">
    <div class="input-group">
      <input type="text" name="search" class="form-control" placeholder="Search for a tool">
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
  </form>
</div>

<div class="container mx-auto">
  <div class="row justify-content-center">
    <% @tools.each do |tool| %>
      <div class="col-10 col-md-4 col-lg-3 mb-4">
        <div class="card rounded shadow">
          <% if tool.photo.present? %>
            <%= cl_image_tag tool.photo.key, class: 'card-img-top' %>
          <% else %>
            <p>No Image Available</p>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><strong><%= tool.name %></strong></h5>
            <p class="card-text"><%= tool.description %></p>
            <p class="card-text"><strong>Availability:</strong> <%= tool.availability ? 'Available' : 'Not available' %></p>
            <%= link_to 'View Tool', tool, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
