<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="image-container mt-4">
  <!-- Adicione suas imagens aqui -->
        <% if @tool.photo.present? %>
          <%= cl_image_tag @tool.photo.key, height: 300, width: 650, crop: :fill %>
        <% else %>
          <p>No image available</p>
        <% end %>
      </div>

      <h1><%= @tool.name %></h1>


      <p><%= @tool.description %></p>
      <p><strong>Availability:</strong> <%= @tool.availability ? 'Available' : 'Not available' %></p>

      <p><strong>Address:</strong> <%= @tool.address %></p>

      <div id="map" style="height: 300px;"></div>

      <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>


    <div class="btn-toolbar mt-4">
        <div class="mt-2">
          <%= link_to 'Book', new_tool_booking_path(@tool), class: "btn btn-primary" %>
        </div>

        <div class="mt-2">
          <%= link_to 'Back to Tools', tools_path, class: "btn btn-secondary" %>
        </div>

    </div>
    </div>
  </div>

</div>
