<br><br>
<div class="card mt-4">
    <div class="card-header">
      <h2>Bookings:</h2>
    </div>
    <div class="card-body">
      <% if @bookings.empty? %>
        <p>No bookings found.</p>
      <% else %>
        <% @bookings.each do |booking| %>
          <div class="card mb-3 col-md-4">
            <div class="card-body">
              <% tool = Tool.find_by(id: booking.tool_id) %>
              <h5 class="card-title"><%= tool.name %></h5>
              <h5 class="card-title">Rental Start: <%= booking.rental_start %></h5>
              <h5 class="card-title">Rental End: <%= booking.rental_end %></h5>
              <h5 class="card-title">Status: <%= booking.status %></h5>
              <% if tool.user_id == current_user %>
                        <%= simple_form_for booking do |f| %>
                          <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
                          <%= f.submit 'Accept', class: 'btn btn-info' %>
                        <% end %>
                        <%= simple_form_for booking do |f| %>
                          <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
                          <%= f.submit 'Reject', class: 'btn btn-light' %>
                        <% end %>
                      <% else %>
                        <p class='booking-tag'><%= booking.status %></p>
                      <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>